<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
<key>Label</key>
<string>com.animapu-api</string>

<key>ProgramArguments</key>
<array>
    <string>@APP_DIR@/animapu-api</string>
</array>

<key>WorkingDirectory</key>
<string>@APP_DIR@</string>

<!-- Start the service automatically when the system loads. -->
<key>RunAtLoad</key>
<true/>

<!-- Ensures the service is restarted immediately if it stops. Ideal for an API. -->
<key>KeepAlive</key>
<true/>

<!-- We remove ThrottleInterval so launchd uses its default, less aggressive restart backoff policy if it crashes repeatedly. -->

<key>StandardOutPath</key>
<string>@APP_DIR@/animapu-api.log</string>

<key>StandardErrorPath</key>
<string>@APP_DIR@/animapu-api.log</string>

<!-- Optional: Use your specific username to run the service as a non-root user for security. -->
<!-- <key>UserName</key>
<string>umar</string> -->


</dict>
</plist>
